:root.theme-dark {
    --title-font-weight: 785;
    --text-font-weight: 465;
    --accent-color: #ffa9e9;
    --button-hover-color: #ffa9e9;
    --bg-image-color_2: #ffa9e9;
    --bg-image-color_3: #ffa9e9;
    --bg-color: #000000f0;
    --bg-image-color_1: #000000f0;
    --heart-color: #FF0000;
}

:root.theme-light {
    --title-font-weight: 700;
    --text-font-weight: 400;
    --bg-image-color_1: #d3d3d3;
    --bg-image-color_2: #e7e7e7;
    --bg-image-color_3: #1a1a1a;
    --bg-color: #FFF;
    --accent-color: #000000f0;
    --heart-color: #FF0000;
    --button-hover-color: #FFF;
    --background-color: #fffffff0;

}

@media (prefers-color-scheme: dark) {
    
:root {
        --title-font-weight: 785;
        --text-font-weight: 465;
        --bg-image-color_2: #ffa9e9;
        --bg-image-color_3: #ffa9e9;
        --accent-color: #ffa9e9;
        --button-hover-color: #ffa9e9;
        --bg-color: #000000f0;
        --bg-image-color_1: #000000f0;
        --heart-color: #FF0000;
}
}