:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', fantasy;
    --title-font-weight: 700;
    --text-font-weight: 400;
    --bg-image-color_3: #1a1a1a;
    --accent-color: #000;
    --heart-color: #FF0000;
    --bg-image-color_1: #00ffff;
    --bg-image-color_2: #00ffff;
    --button-hover-color: #00ffff;
    --bg-color: #00ffff;
}